<div class="user__box">
    <svg class="icon fill-whiteText user__icon" width="34px" height="34px">
        <use xlink:href="#icon-user"></use>
    </svg>
    <span class="user__name">Nom Prénom</span>
</div>
<nav class="main__nav">
    <div class="item"><a routerLinkActive="active" routerLink="/index">Accueil</a></div>
    <div class="item"><a routerLinkActive="active" routerLink="/new-list">Lister mes ingrédients</a></div>
    <div class="item"><a routerLinkActive="active" routerLink="/last-recipes">Mes dernières recettes</a></div>
    <div class="item forward"><a routerLinkActive="active" routerLink="/new-recipe">Nouvelle recette</a></div>
</nav>